<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="WillBlackney.MandatoryAssignment">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="WillBlackney.MandatoryAssignment"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViewAllReservationsActivity"></activity>
        <activity android:name=".ViewAllRoomsActivity" />
        <activity android:name=".FrontPageActivity" />
        <activity android:name=".LoginPageActivity" />
        <activity android:name=".AddReservationActivity" />
        <activity android:name=".ReservationActivity" />
        <activity
            android:name=".MainActivity"
            android:label="MandatoryAssignment"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>